  <%= yield %>
 <div>
 <%= image_tag("1.jpg", class: "img-responsive my-image") %>
    <div class="header-text hidden-xs">
         <div class="col-md-12 text-center">
           <h2>
             <span>Welcome to <strong>my store</strong></span>
             </h2>
             <br>
             <h3>
             <span>We have the honor to join if you have not yet joined us</span>
              </h3>
                <br>
              <div class="">
                   <a class="btn btn-theme btn-sm btn-min-block" href="#">Login</a><a class="btn btn-theme btn-sm btn-min-block" 
                        href="#">Register</a></div>
                </div>
                   </div>
        </div><!-- /header-text -->
</div>
            

      
    <div class="container padding-section">
      <div class="padding-section">

        <div class="col-sm-1 text-center">
                <%= image_tag("customer-service.png", class: "img-responsive service") %>

        </div>
        <div class="col-sm-3 text-center">
          <h3> FAWESOME SUPPORT</h3>
           <p  class="gray"> Did you know that we ship to<br> over 24 different countries.</p>
        </div>
        <div class="col-sm-1 text-center">
                <%= image_tag("transaction.png", class: "img-responsive service") %>
        </div>
            <div class="col-sm-3 text-center">
                <h3>100% MONEY BACK</h3>
                <p class="gray"> Did you know that we ship to<br> over 24 different countries.</p>

        </div>
        <div class="col-sm-1  text-center">
                <%= image_tag("motorbike.png", class: "img-responsive service") %>

        </div>
        <div class="col-sm-3 text-center">
          <h3>FAST DELIVERY</h3>
           <p class="gray"> Did you know that we ship to<br> over 24 different countries.</p>
        </div>
      </div>

    <section class="team-section text-center  padding-section">
            <div >
                <h1 class="text-center">TOP COLLECTIONS</h1>
                <div class="col-sm-4">
                    <div class="my-media">
                        <div class="my-media-body">
                            <%= image_tag("promo1.jpg", class: "img-responsive") %>
                        </div>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li><a href="#"><i class="glyphicon glyphicon-search"></i></a> </li>
                                <li><a href="#"><i class="glyphicon glyphicon-link"></i></a> </li>

                            </ul>
                        </div>
                        <div class="media-desc">
                            <p>Shop  Now</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="my-media">
                        <div class="my-media-body">
                            <%= image_tag("promo2.jpg", class: "img-responsive") %>
                        </div>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li><a href="#"><i class="glyphicon glyphicon-search"></i></a> </li>
                                <li><a href="#"><i class="glyphicon glyphicon-link"></i></a> </li>

                            </ul>
                        </div>
                        <div class="media-desc">
                            <p>Shop  Now</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="my-media">
                        <div class="my-media-body">
                            <%= image_tag("promo3.jpg", class: "img-responsive") %>
                        </div>
                        <div class="social-media">
                            <ul class="list-inline">
                                <li><a href="#"><i class="glyphicon glyphicon-search"></i></a> </li>
                                <li><a href="#"><i class="glyphicon glyphicon-link"></i></a> </li>

                            </ul>
                        </div>
                        <div class="media-desc">
                            <p>Shop  Now</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
        <div class=" text-center padding-section">
            <div class="col-sm-6   padding-section">
               <%= image_tag("post-15.jpg", class: "img-responsive") %>
            </div>
            <div class="col-sm-6   padding-section"> 
                <h1>HOW DO BICYCLES OPERATE?</h1>
                <p class="gray">
                    A bicycle’s performance, in both biological and mechanical terms, is extraordinarily efficient. In terms of the amount of energy a person must expend to travel a given distance, investigators have calculated it to be the most efficient self-powered means of transportation. In terms of the ratio of cargo weight a bicycle can carry to total weight, it is also a most efficient means of cargo transportation.

                    Mechanical efficiency

                    From a mechanical viewpoint, up to 99% of the energy delivered by the rider into the pedals is transmitted to the wheels (clean, lubricated new chain at 400W), although the use of gearing mechanisms reduces this by 1-7% (clean, well-lubricated derailleurs), 4-12% (chain with 3-speed hubs), or 10-20% (shaft drive with 3-speed hubs). The higher efficiencies in each range are achieved at higher power levels and in direct drive (hub gears) or with large driven cogs (derailleurs).


                </p>

            </div>

            </div>

   </div>
    <div class=" backimg padding-section text-center">
        <h1 >Cycling is a healthy</h1>
        <p>"fun and exciting way to travel. No matter what type of <br/>cycling you’re into, we’ve got a bike for you We stock one of the <br/>largest bicycle ranges anywhere”</p>
    </div>
      
    <div class="padding-section ">
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 padding-0 " >
               <%= image_tag("Galley1.jpg", class: "img-responsive item") %></div>
        <div class="col-sm-2  col-xs-2 col-md-2 col-lg-2  padding-0" >
               <%= image_tag("Galley2.jpg", class: "img-responsive item") %></div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2  padding-0" >
               <%= image_tag("Galley3.jpg", class: "img-responsive item") %></div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2  padding-0" >
               <%= image_tag("Galley4.jpg", class: "img-responsive item") %></div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 padding-0" >
               <%= image_tag("Galley5.jpg", class: "img-responsive item") %></div>
        <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2 padding-0" >
               <%= image_tag("Galley6.jpg", class: "img-responsive item") %></div>
</div>
    

