<h2 class="thanks contact">Log_in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  

      <div class="form-group">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter Email" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group form-label">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, id: "remember-me-text" %>
        </div>
      <% end -%>

      <%= f.submit "log in", class: "btn btn-primary form-label form-control" %>

    <% end %>



<%= render "devise/shared/links" %>
