<h1 class="padding">Show product<h1>

<p id="notice"><%= notice %></p>

<p>
  <strong class="space">Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong class="space">Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>colour:</strong>
  <%= @product.colour%>
</p>

p>
  <strong>prices:</strong>
  <%= @product.prices%>
</p>



<p>
  <strong class="space">Image url:</strong>
  <%= @product.image_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
